# Virtual Environment
venv/
env/
.venv/

# Python Cache
__pycache__/
*.py[cod]

# Environment Variables
.env

# Secret Files
Password
password.txt

# Database
db.sqlite3

# IDE
.vscode/
.idea/

# Logs
*.log

# Media Uploads
media/